/* CSS Document */
body {
	margin: 0; 
	background-color: #1A2A31;
}
td,p {
	color: #FFFFFF;
	font: 12px/16px;
}
.input {
	background-color: #C7DADB;
	border: 1px solid #1A2A32;
	padding-left: 2px;
	font-family: Tahoma;
	font-size: 11px;
}
.hidetext
{
	width:0px;
	height:0px;
	display:none;}
.noticetxt{color: #FF9900;}
.18line {
	line-height: 20px;
}
.txt14pix {
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 2px;
}
.td18line {
	padding-top: 4px;
	padding-bottom: 1px;
}
.entxt {
	font-family: Tahoma;
	font-size: 11px;
	color: #333333;
}

.date {
	font-family: Tahoma;
	font-size: 10px;
	color: #EFFB4A;
	font-weight: bold;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #EFFB4A;
	text-decoration: underline;
}
a.impt {
	color: #FCD202;
	text-decoration: none;
}
a.impt:hover {
	color: #EFFB4A;
	text-decoration: underline;
}
.RedWord
{
	color:Red ;
}
.newsbg {background: #2b414b no-repeat top left;}
.leftbg {background: #2b414b  no-repeat right  bottom;}
